@model Microsoft.AspNetCore.Identity.IdentityRole
@{
    ViewData["Title"] = "Form";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="StyleSheet" href=~/css/Botones.css type="text/css">

<center>
<div class="row">
    <div class="col-md-12">
        <center> <h2 style="font-family:'Times New Roman', Times, serif"> Nuevo Rol </h2></center>
        <h5 style="font-family:'Times New Roman', Times, serif"> Ingresa el Nombre del Nuevo Rol:</h5>
    </div>
</div>
</center>
<center>
    <hr />
    <center>
    @using (Html.BeginForm("Form", "Rol", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <div class="row">
            <div class="col-md-3" style="display: none;">
                @Html.TextBoxFor(model => model.Id, new { @class = "form-control", autocomplete = "off" })
            </div>

            <div class="col-md-3">
                @Html.LabelFor(model => model.Name)
                <div class="input-group mb-3">
                    <span class="input-group-text"><i class="bi bi-bookmark-star"></i></span>
                    @if (Model.Id != null)
                    {
                        @Html.TextBoxFor(model => model.Name, new { @class = "form-control", @id = "txtNombre", autocomplete = "off" })
                    }
                    else
                    {
                        @Html.TextBoxFor(model => model.Name, new { @class = "form-control", @id = "txtNombre", @placeholder = "Ejmp: Usuario", autocomplete = "off" })
                    }

                    @Html.ValidationMessageFor(model => model.Name, null, new { @class = "text-danger" })
                </div>

            </div>

            <div class="form-group">
                <div class="col-md-3">
                    <input type="submit" value="Guardar" class="btn btn-success bi bi-hand-thumbs-up" />
                    @Html.ActionLink("Regresar", "GetAll", "RoleController", htmlAttributes: new { @class = "btn btn-danger  bi bi-arrow-return-left" })
                </div>
            </div>
        </div>
    }
    </center>
</center>

<footer>
    <marquee style="font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif"> _.- Biblioteca Anahuac    ...   ¡ Siguenos en nuestras Redes Sociales ! -._    ...  Twitter: Anahuac_BiblioTest   </marquee>
</footer>

<style>
    body {
        color: #000;
        overflow-x: hidden;
        height: auto;
        background-image: url(https://www.xtrafondos.com/wallpapers/resized/textura-vieja-hoja-de-papel-arrugada-cafe-3277.jpg?s=large);
        background-size: cover;
        background-repeat: no-repeat;
        padding: 0 !important;
    }

    .container {
        padding-top: 20px;
        padding-bottom: 120px;
    }
</style>