@model ML.Autor
@{
    ViewData["Title"] = "GetAll";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>Autores</h2>
        </div>
        <div class="col-md-12">
            <h5>Añade, edita, elimina de la tabla</h5>
            <hr />
        </div>
    </div>
    <div class="row">
        <div class="col-md-1 offset-md-11">
            @Html.ActionLink(" +", "Form", "Autor", null, new { @class = "btn btn-success bi-person-fill-add" })
        </div>
    </div>
    <div>
        @if (Model.Autores != null)
        {
            <div class="row">
                <div class="col-md-12">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Editar</th>
                                <th>Nombre</th>
                                <th>Informacion</th>
                                <th>Imagen</th>
                                <th>Eliminar</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (ML.Autor autor in Model.Autores)
                            {
                                <tr>
                                    <td class="text-center"><a class="btn btn-primary bi bi-pencil-fill " href="@Url.Action("Form", "Autor", new {IdAutor = autor.IdAutor})"><i class=""></i></a></td>


                                    <td>@autor.Nombre</td>
                                    <td>@autor.InformacionAdicional</td>
                                    <td>
                                        @if (autor.Imagen == null)
                                        {
                                            <img src="https://th.bing.com/th/id/OIP.dhBwcZT_mUoZpOBSNsjHzgAAAA?rs=1&pid=ImgDetMain" id="imgAutor" style="  width:100px; height:100px; " />
                                        }
                                        else
                                        {
                                            <img src="data:image/png;base64,@Convert.ToBase64String(autor.Imagen)" id="imgAutor" style="  width:100px; height:100px; " />
                                        }
                                    </td>
                                    <td class="text-center">
                                        <a class="btn btn-danger bi bi-trash" onclick="return confirm('¿Estas seguro de eliminar este autor?');" href="@Url.Action("Delete", "Autor", new {IdAutor = autor.IdAutor})"><i class=""></i></a>
                                    </td>
                                </tr>

                            }
                        </tbody>

                    </table>
                </div>
            </div>
        }
        else
        {
            <div class="alert alert-danger" role="alert">
                <h3>No se han podido recuperar autores</h3>
            </div>
        }
    </div>
</div>