@model ML.Prestamo
@{
    ViewData["Title"] = "Form";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/js/bootstrap-datepicker.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script type="text/javascript" src="~/js/PrestamoForm.js"></script>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>Prestamos</h1>
        </div>
        <div class="col-md-12">
            <h5>Para un Registro Nuevo, llena los campos del formulario</h5>
        </div>
    </div>

@using (Html.BeginForm("Form", "Prestamo", FormMethod.Post, new { enctype = "multipart/form-data", @id = "form" }))
{
    <div class="row">
        <div class="col-md-12">
            @Html.LabelFor(model => model.IdPrestamo, new { @class = "visually-hidden" })
            @Html.TextBoxFor(model => model.IdPrestamo, new { @class = "visually-hidden" })
        </div>
        <div class="col-md-3">
            <label>Usuario:</label>
            @Html.DropDownListFor(model => model.IdentityUsers.IdUsuario, new SelectList(Model.IdentityUsers.IdentityUsers , "IdUsuario", "UserName"), "--Seleccione un Usuario--", htmlAttributes: new { @id = "ddlUsuario", @class = "form-control" })
        </div>
    </div>
    <div class="row">
            <div class="col-md-3">
                <label>Medio:</label>
                @Html.DropDownListFor(model => model.Medio.IdMedio, new SelectList(Model.Medio.Medios, "IdMedio", "Titulo"), "--Seleccione un Medio--", htmlAttributes: new { @id = "ddlMedio", @class = "form-control" })
            </div>
    </div>

    <div class="row">
        <div class="col-md-3">
            <label>Fecha Devolución</label>
            <input data-date-format="yyyy-mm-dd" id="datepicker1">
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-2">
            @* <input type="submit" class="btn btn-success" value="@ViewBag.Accion" /> *@
            <btn onclick="SendForm(event);" class="btn btn-success">@ViewBag.Accion</btn>

        </div>
        <div class="col-md-2">
            @Html.ActionLink(" Regresar", "GetAll", "Prestamo", new { area = "" }, new { @class = "btn btn-danger bi bi-backspace" })
        </div>
    </div>
}
</div>

<script type="text/javascript">

    $('#datepicker1').datepicker({
        weekStart: 1,
        daysOfWeekHighlighted: "6,0",
        autoclose: true,
        todayHighlight: true,
    });
    $('#datepicker1').datepicker("setDate", new Date());

    

</script>
