@model ML.Prestamo
@{
    ViewData["Title"] = "Form";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>Prestamos</h1>
        </div>
        <div class="col-md-12">
            <h5>Para un Registro Nuevo, llena los campos del formulario</h5>
        </div>
    </div>
</div>

@using (Html.BeginForm("Form", "Prestamo", FormMethod.Post, new { enctype = "multipart/form-data", @id = "form" }))
{
    <div class="row">
        <div class="col-md-12">
            @Html.LabelFor(model => model.IdPrestamo, new { @class = "visually-hidden" })
            @Html.TextBoxFor(model => model.IdPrestamo, new { @class = "visually-hidden" })
        </div>
        <div class="col-md-3">
            <label>Usuario:</label>
            @Html.DropDownListFor(model => model.IdentityUsers, new SelectList(Model.IdentityUsers.IdentityUsers , "IdUsuario", "UserName"), "--Seleccione un Usuario--", htmlAttributes: new { @id = "ddlUsuario", @class = "form-control" })
        </div>
    </div>
    <br />
    <div class="col-md-3">
        <label>Medio:</label>
        @Html.DropDownListFor(model => model.IdMedio, new SelectList(Model.IdMedio.Medios, "IdMedio", "Titulo"), "--Seleccione un Medio--", htmlAttributes: new { @id = "ddlMedio", @class = "form-control" })
    </div>
    <br />
    <div class="row">
        <div class="col-md-3">
            @Html.LabelFor(model => model.FechaPrestamo)
            @Html.TextBoxFor(model => model.FechaPrestamo, new { @class = "form-control", @onkeypress = "return Datepicker(event)", @id = "datepicker", placeholder = "Fecha del Prestamo" })
            @Html.ValidationMessageFor(model => model.FechaPrestamo)
        </div>
        <div class="col-md-3">
            @Html.LabelFor(model => model.FechaDevolucion)
            @Html.TextBoxFor(model => model.FechaDevolucion, new { @class = "form-control", @onkeypress = "return Datepicker(event)", @id = "datepicker", placeholder = "Fecha del la Devolucion" })
            @Html.ValidationMessageFor(model => model.FechaDevolucion)
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-6">
    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
            Status
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                    <li><a class="dropdown-item" href="#">Prestado</a></li>
                    <li><a class="dropdown-item" href="#">Devuelto</a></li>
                    <li><a class="dropdown-item" href="#">En Espera</a></li>
                    <li><a class="dropdown-item" href="#">Perdido</a></li>
                    <li><a class="dropdown-item" href="#">Reservado</a></li>
                    <li><a class="dropdown-item" href="#">Disponible</a></li>
                    <li><a class="dropdown-item" href="#">No Disponible</a></li>
                    <li><a class="dropdown-item" href="#">Medio No Fisico</a></li>
                    <li><a class="dropdown-item" href="#">No puede prestarse</a></li>
        </ul>
    </div>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-2">
            @* <input type="submit" class="btn btn-success" value="@ViewBag.Accion" /> *@
            <btn onclick="SendForm(event);" class="btn btn-success">@ViewBag.Accion</btn>

        </div>
        <div class="col-md-2">
            @Html.ActionLink(" Regresar", "GetAll", "Autor", new { area = "" }, new { @class = "btn btn-danger bi bi-backspace" })
        </div>
    </div>
}
</div>


